# Core: Books

![png](books_ERD.png)

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()

In [2]:
connection = "mysql+pymysql://root:root@localhost/books"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [3]:
create_database(connection)
database_exists(connection)

True

In [4]:
users_df = pd.read_csv('data/users_data.csv')
users_df.to_sql('users', engine, if_exists='replace')

3

In [5]:
authors_df = pd.read_csv('data/authors_data.csv')
authors_df.to_sql('authors', engine, if_exists='replace')

5

In [6]:
favorite_df = pd.read_csv('data/fav_data.csv')
favorite_df.to_sql('favorite', engine, if_exists='replace')

7

In [7]:
books_df = pd.read_csv('data/books_data.csv')
books_df.to_sql('books', engine, if_exists='replace')

6

In [8]:
q = """
SELECT books.title, favorite.user_id
FROM books
JOIN favorite ON books.id = favorite.book_id
WHERE favorite.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));

"""
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1